fieldset {
  display: inline-block;
  border: 2px solid #222222;
  padding: 10px;
}

fieldset input,
fieldset button {
  font: inherit;
  color: inherit;
  background-color: inherit;
  margin: .5em;
}

fieldset textarea,
fieldset select {
  font: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
  margin: .5em;
}